* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #f4f6fb;   
    color: #1f2937;
    line-height: 1.6;
    padding: 20px;
}

header {
    background: #ffffff;
    padding: 30px;
    border-radius: 12px;
    text-align: center;
    margin-bottom: 20px;
    border: 1px solid #e5e7eb;
}

header h1 {
    font-size: 24px;
    margin-bottom: 8px;
}

header p {
    color: #6b7280;
}

main {
    max-width: 850px;
    margin: auto;
}

section {
    background: #ffffff;
    padding: 20px;
    margin-bottom: 15px;
    border-radius: 12px;
    border: 1px solid #e5e7eb;
    transition: 0.2s ease;
}

/* section:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 18px rgba(0,0,0,0.06);
} */

h2 {
    font-size: 18px;
    margin-bottom: 10px;
    border-left: 4px solid #4f46e5;
    padding-left: 10px;
}

article {
    background: #f9fafb;
    padding: 15px;
    margin-top: 10px;
    border-radius: 10px;
    border: 1px solid #e5e7eb;
}

article h3 {
    color: #4f46e5;
    margin-bottom: 8px;
}

article h4 {
    margin-top: 10px;
    color: #374151;
}

ul {
    margin-left: 20px;
}

li {
    margin-bottom: 6px;
}

p, li {
    color: #374151;
}

header p {
    color: #6b7280;
}

blockquote {
    background: #eef2ff;
    border-left: 4px solid #4f46e5;
    padding: 15px;
    border-radius: 10px;
    font-style: italic;
    color: #374151;
}

footer {
    text-align: center;
    margin-top: 25px;
    color: #6b7280;
    font-size: 13px;
}

/* @media (max-width: 600px) {
    body {
        padding: 12px;
    }

    header h1 {
        font-size: 20px;
    }

    section {
        padding: 15px;
    }
} */